{% extends "base.html" %}

{% block title %}
    {{title}}
{% endblock title %}



{% block content %}

  <div class="col-md-4 mt-4">
	<ul class="list-group">
		<li class="list-group-item"><a href="{% url "pages:home" %}">Home</a></li>
	</ul>
  </div>
  <div class="col-md-8 mt-4">
	<h1 class="page-header">{{product.title}}</h1>
	<img  src="{{product.photo.url}}" width="400px" class="img-thumbnail" alt="">
    <br>
    <p>{{product.description}}</p>
    <p>Price : {{product.price}} TK</p>
    <p>Avaiable : {{product.quantity}}</p>
    <p>Added on: {{product.published_at}}</p>
    <p><a class="btn btn-primary buynow" href="{% url "cart:cart_add" product.slug %}">Add to cart</a></p>

  </div>




{% endblock content %}


